<template>
    <div>
        <h1>Listado de permisos.</h1>
        <hr>



        <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <input type="text" v-model="NombreEmpleado" class="form-control form-control-lg" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" v-model="ApellidosEmpleado" class="form-control form-control-lg" id="apellido" placeholder="Apellido">
                        </div>
                          <div class="form-group">
                            <select class="form-control" v-model="TipoPermisoId" id="TipoPermisoId">
                            <option>-TIPO PERMISO-</option>
                            <option v-for="tipo of tipoPermisosList" :key="tipo.id" v-bind:value="tipo.id" >
                                {{tipo.descripcion}}
                            </option>
                            </select>
                        </div>
                        <button type="button" v-on:click="clear()" class="btn">Cancel</button>
                       <button type="button" v-on:click="addPermiso()" class="btn btn-primary">Save</button>

                    </div>
                </div>
            </div>

        </div>
        <br>
            <div class="row">
                <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Tipo Permiso</th>
                        <th scope="col">Fecha</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="perm of permisosList" :key="perm.id">
                        <td scope="row">{{perm.id}}</td>
                        <td>{{perm.nombreEmpleado}}</td>
                        <td>{{perm.apellidosEmpleado}}</td>
                        <td>{{perm.tipoPermiso.descripcion}}</td>
                        <td>{{perm.fechaPermiso}}</td>
                        <td>
                        <button type="button" class="btn btn-success" v-on:click="editPermiso(perm.id)"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" v-on:click="deletePermiso(perm.id)"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import axios from "axios";
var url = 'https://localhost:44308/api/permiso/';
var urlTipo = 'https://localhost:44308/api/tipopermiso/';

export default {
    name: "Permisos",
    data(){
        return {
            Id: 0,
            NombreEmpleado: '',
            ApellidosEmpleado: '',
            TipoPermisoId: 0,
            FechaPermiso: '2020-11-16',
            permisosList: null,
            tipoPermisosList: null,
        }
    },
    methods: {
        getPermisos(){
                axios.get(url).then(response => {
                this.permisosList = response.data;
            })
        },
        getTipoPermisos(){
            axios.get(urlTipo).then(response => {
            console.log(response);
            this.tipoPermisosList = response.data;
        })
        },
        addPermiso(){

            const permiso = {
                Id: this.Id,
                NombreEmpleado: this.NombreEmpleado,
                ApellidosEmpleado: this.ApellidosEmpleado,
                TipoPermisoId: this.TipoPermisoId,
                FechaPermiso: '2020-11-16',
            }

            console.log(permiso);

            if(permiso.Id == 0){
                axios.post(url, permiso).then(response => {
                    console.log(response);
                    this.getPermisos();
                    this.clear();
                }).catch(error => {
                    console.log(error);
                });
            } else {
                var urlPut = url + permiso.Id;
                console.log(urlPut);
                console.log(permiso);
                axios.put(urlPut, permiso).then(response => {
                    console.log(response);
                    this.getPermisos();
                    this.clear();
                }).catch(error => {
                    console.log(error);
                });
            }


        },
        editPermiso(id){
            axios.get(url + id).then(response => {
                var perm =  response.data;
                    this.Id = perm.id;
                    this.NombreEmpleado = perm.nombreEmpleado;
                    this.ApellidosEmpleado = perm.apellidosEmpleado;
                    this.TipoPermisoId = perm.tipoPermisoId;
                    console.log("perm");
                    console.log(perm);
            })
        },
        deletePermiso(id){
            var urlDelete = url + id;
            console.log(urlDelete);
            axios.delete(urlDelete).then(response => {
                console.log(response);
                this.getPermisos();
            }).catch(error => {
                console.log(error);
            });
        },
        clear(){
            this.Id = 0;
            this.NombreEmpleado = '';
            this.ApellidosEmpleado = '';
            this.TipoPermisoId = 0;
            this.FechaPermiso = Date.now();
        }
    },
    mounted: function(){
        this.getPermisos();
        this.getTipoPermisos();
    }
 
}
</script>

<style>

.container {
  padding: 2rem 0rem;
}


</style>