<template>
  <permisos />
</template>

<script>

import Permisos from './components/Permisos.vue'

export default {
  name: 'App',
  components: {
    Permisos
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
